<!DOCTYPE html>
<html>
  <head>
    <title>Calc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div style="width:80%;margin-left:10%">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
